// style for the cotnainer of the img
.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

// style for the img
.image-wrapper img {
  width: 100%;
  object-fit: contain;
  display: block;
}

// style for the pixel container
.grid {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

// style for each of the pixel
.tile {
  background: #212121;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  margin: -0.5px;
}
