// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #ffffff;
$bg-color: #212121;
$white: #ffffff;
$secondary-bg-color: #292929;

// Fonts
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-title: "BBH Sans Bogle", sans-serif;

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

// Content-widths
$max-content-width: 1200px;