@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

// style for content section
.content-section {
  @include padding;
  @include flex-center;
  gap: 3rem;
  height: 100dvh;
  width: 100%;
  min-height: 100dvh;
  flex-direction: column;
  max-width: $max-content-width;
}

// style for work data section
// set the column and row for the work data card
.work-data-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

// style for the tech stack carousel container
.tech-stack-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 2.5rem;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.tech-stack-title {
  font-family: $font-title;
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #fe7743;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8), 0 0 10px rgba(254, 119, 67, 0.6);

  @include respond-to(large-desktop) {
    font-size: 4rem;
  }
  @include respond-to(desktop) {
    font-size: 3rem;
  }
  @include respond-to(tablet) {
    font-size: 3rem;
  }
  @include respond-to(mobile) {
    font-size: 2.5rem;
  }
}

